<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<%# link_to is a built-in method that creates a hyperlink based on text to display and where to go - in this case, to the path for articles %>